@font-face {
	font-family: "Josefin";
	src: url("fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}
html{
	font-size: 16px;
}
body{
	background-color: #0f0232;
	font-family: "Josefin";
}
.flex{
	display: flex;
}
.justify-center{
	justify-content: center;
}
.number-check-wrapper{
    padding: 30px;
    background-color: #4939c1;
    border-radius: 20px;
    max-width: 400px;
}
.number-check-wrapper .title{
	color: white;
}
.number-check-wrapper p, .number-check-wrapper span{
	color: #c4cbf9;
}
.number-check-wrapper p{
	font-size: 18px;
}
.check-number-form .form-control{
    min-height: 48px;
    background-color: #392ba6;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 999px;
    font-size: 1rem;
}
.mt-30{
	margin-top: 30px;
}
.mb-30{
	margin-bottom: 30px;
}
.cmn-btn{
	padding: 15px 35px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 999px;
    background-image: -webkit-linear-gradient(86deg, #ec038b 0%, #fb6468 44%, #fbb936 100%);
    box-shadow: 0px 17px 40px 0px rgb(124 78 25 / 35%);
    transition: background-size 0.3s;
    color: #ffffff;
    border: none;
}
#balance-container span{
	display: inline-block;
	font-size: 1rem;
}
.section.dark-blue._50-top-padding{
    display: block;
    padding-top: 57px;
    padding-bottom: 56px;
    background-color: rgba(61, 20, 26, 0);
}
.section-title-wrapper{
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
    line-height: 1;
    text-align: center;
}
.section-title{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #97b9de;
    color: #fff;
    font-size: 36px;
    line-height: 1;
    font-weight: 500;
    text-align: center;
}
.winners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    color: white;
}
.countdown{
    display: flex;
    width: 570px;
    height: 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background-color: #102a4e;
}
.countdown-pot{
	font-size: 22px;
    line-height: 1.1;
}
.round-label{
	margin-top: 10px;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
}
.last-voters-wrapper{
    position: relative;
    display: flex;
    width: 85%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
}
.last-7{
    display: flex;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-absolute{
	margin-top: 10px;
    color: #fff;
    font-size: 30px;
    line-height: 1.3;
    text-transform: uppercase;
}
.table-info{
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #97b9de;
    color: #fff;
}
.address-label, .date-label, .amount-tokens__label, .win-amount__label, .token-address{
	margin-right: 20px;
	color: white;
}
.last__seven-buyers.last-buyer{
    background-color: #0d3161;
    transform: scale(1.03);
}
.buy__date{
	margin-right: 0px;
    margin-left: 9px;
    color: white;
}
.tokens-bought, .win-text{
    margin-right: 0px;
}
.last__seven-buyers{
    display: flex;
    width: 100%;
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 40px;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    border-radius: 0%;
    background-color: #0d2a52;
}